@model List<string>
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var email in Model)
        {
            <tr>
                <td>email</td>
            </tr>
        }
    </tbody>
</table>

