@model List<string>
@{
    ViewData["Title"] = "Details";
}

<div class="col-xs-8 col-xs-offset-2 text-left main-body user-item-detail">
<h2>Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var email in Model)
        {
            <tr>
                <td>@email</td>
            </tr>
        }
    </tbody>
</table>
</div>
