
@{
    ViewData["Title"] = "Checkout";
}

<div class="alert alert-success">
    <strong>Thank you for your order!</strong> The sellers of these items have been contacted! Check your inbox for more info!
</div>