
@{
    ViewData["Title"] = "Checkout";
}

<div class="col-xs-8 col-xs-offset-2 text-left main-body cart-checkout">
<div class="alert alert-success">
    <strong>Thank you for your order!</strong> The sellers of these items have been contacted! Check your inbox for more info!
</div>
</div>