body, html {
    height: 100%;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: 6%;
}

.main {
    height: 80%;
}

.main-content {
    height: 100%;
    display: flex;
    width: 100%;
}

.footer {
    height: 14%;
}

ul li {
    list-style: none;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-image: url("../images/pattern2.png");
    height: 100%;
    color: white;
}

/* Set black background color, white text and some padding */
footer {
    background-color: black;
    color: white;
    padding: 10px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

.mainbackground {
    background-color: #CDEDF0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.mainbackground center:first-child {
    margin-bottom: 16px;
}
