@{
    ViewData["Title"] = "About";
}
<div class="col-xs-8 col-xs-offset-2 text-left main-body about-us">

<h2>About Us</h2>

<h2>The Team members for this project include:</h2>
<dl>
    <dt>Peter Mooney:</dt>
    <dd>Has experience working among a small team of engineers, both remotely and at a physical location.  He has extensive experience designing APIs and implementing them in Node.js and Ruby on Rails.  He brings experience in using React as a frontend development framework.  Peter will be responsible for building out scraper modules that will populate the database / S3 with content for consumption by our C# MVC Web Server.
    <dt>Krzysztof Pawlikowski:</dt>
    <dd>Not a software engineer by trade but has written basic CRUD web applications. Most of his web development experience has been with PYTHON/PHP/Javascript/JQuery/MySQL. Has extensive experience working with SQL databases for data analysis purposes. Also has some experience automating web tasks using selenium webdriver. Krzysztof hopes to learn the agile software development process and perhaps a new database or web front end technology. Krzysztof will be in charge of working on the content aggregation from remote sites with Peter.</dd>
    <dt>Conrad Carpenter:</dt>
    <dd>Software Engineer currently using ASP.Net web forms. Experience working with teams to create software and knowledge of object oriented techniques. Also worked as a web developer so has extensive knowledge of front end technologies. Conrad will be in charge of developing the .NET webserver and database connectivity.</dd>
    <dt>Rachel Martinich:</dt>
    <dd>Has been teaching Computer Science at the High School level for 6 years. She was named one of the top 100 CS teachers in the US by the National Science Foundation. Knows the surface of HTML, Android Development, PHP, MySQL, and JavaScript. Hopes to learn more HTML/PHP/MySQL.  Rachel will be in charge of developing the front end code for users to interact with.</dd>
 </dl>
</div>  