@model List<Item>
@{
    ViewData["Title"] = "Home Page";
}
<div class="col-sm-2 sidenav"></div>
<div class="col-sm-8 text-left mainbackground">
    <center><img src="images/main.png" class="img-responsive"></center>
    <center><img src="images/easy.png" class="img-responsive"></center>
</div>
<div class="col-sm-2 sidenav"></div>
