@model List<Item>
@{
    ViewData["Title"] = "Home Page";
}

<div class="col-xs-8 col-xs-offset-2 text-left main-body home">
    <div class="home">
	    <center><img src="images/main.png" class="img-responsive"></center>
        <center><img src="images/easy.png" class="img-responsive"></center>
	</div>
</div>
